[Unit]
Description=UDP over HTTP Proxy Server

[Service]
Environment=LISTEN=127.0.0.1:51820
Environment=TO=127.0.0.1:51820
EnvironmentFile=-/etc/sysconfig/proxyguard-server
EnvironmentFile=-/etc/default/proxyguard-server
ExecStart=/usr/sbin/proxyguard-server -listen ${LISTEN} -to ${TO}
Restart=on-failure
PrivateDevices=yes
DynamicUser=yes

[Install]
WantedBy=multi-user.target
